
.test-div {
background: blue;
padding: 20px;
margin: 20px;
}
.test-div {
color: aquamarine;
}

.test-div {
color-scheme: ;
}

    #submit-button {
        background-color: #dc3545; /* Red background */
        color: white;
    }
    